.site-nav {
  background-color: #21252b;
  border-bottom: none;
}
.site-nav .site-nav-switch .site-nav-region {
  color: #c9c9c9;
}
.site-nav .site-nav-switch.site-nav-menu-hover .site-nav-menu-hd {
  background-color: #21252b;
  border: none;
}
.site-nav .site-nav-login.site-nav-menu-hover .site-nav-menu-hd {
  background-color: #21252b;
  border: none;
}
.site-nav .site-nav-bd {
  background-color: #21252b;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu .site-nav-menu-hd a {
  color: #c9c9c9;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu .site-nav-menu-hd a:hover {
  color: #ff5000;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu-bd-panel {
  background-color: #3c3c3c;
  border-color: #21252b;
  color: #c9c9c9;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu-bd-panel .site-nav-region-item:hover {
  background-color: #21252b;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu-bd-panel a:hover {
  color: #ff4400;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu-bd-panel p {
  color: #c9c9c9;
}
.site-nav .site-nav-bd .site-nav-bd-l .site-nav-menu-bd-panel .site-nav-menu-hd a {
  color: #c9c9c9 !important;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu-hover .site-nav-menu-hd {
  background-color: #3c3c3c;
  border-color: transparent;
  border-width: 0;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel {
  background-color: #3c3c3c;
  border-color: #21252b;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a {
  color: #c9c9c9;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu .site-nav-menu-list .site-nav-menu-bd-panel a:hover {
  background-color: transparent;
  color: #ff4400;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu-hd span {
  color: #c9c9c9;
}
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-menu-hd:hover span {
  color: #ff4400;
}
#ice-container {
  background-color: #21252b;
  padding-bottom: 30px;
}
#ice-container [class*="headerWrap--"] {
  background-color: #21252b !important;
}
#ice-container [class*="headerWrap--"] .search-suggest {
  background-color: #282828;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu {
  background-color: #282828;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .search-suggest-menu-history-list-wrapper .search-suggest-menu-history-item {
  background-color: #3c3c3c;
  border-color: #282828;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .search-suggest-menu-item:hover {
  background-color: #3c3c3c;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .search-suggest-menu-item:hover .text-commen {
  color: #c9c9c9;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .search-suggest-menu-item.active,
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .search-suggest .search-suggest-menu-item:hover {
  background-color: #3c3c3c;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .item-text {
  color: #ff4f01;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .item-text b {
  color: #c6c6c6;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-menu .text-commen {
  color: #9b9b9b;
}
#ice-container [class*="headerWrap--"] .search-suggest .image-search-wrapper .image-search-icon {
  background-color: #3c3c3c;
  border-radius: 5px;
}
#ice-container [class*="headerWrap--"] .search-suggest .search-suggest-combobox input {
  background-color: #282828;
  color: #c9c9c9;
  margin-top: 2px;
}
#ice-container [class*="headerWrap--"] .search-suggest [data-sg-type="tab"] {
  background-color: #3c3c3c;
}
#ice-container [class*="headerWrap--"] .search-suggest [data-sg-type="tab"] .search-tab-icon {
  display: none;
}
#ice-container [class*="headerWrap--"] .search-suggest [data-sg-type="tab"] .search-suggest-tabs-tab {
  color: #c9c9c9;
}
#ice-container [class*="headerWrap--"] .search-suggest [data-sg-type="tab"] .search-suggest-tabs {
  background-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] {
  background-color: #21252b;
}
#ice-container [class*="pageContent--"] #pageContent {
  background-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap {
  padding-right: 15px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] {
  background-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] [class*="tabWrap--"] {
  background-color: transparent;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] [class*="tabWrap--"] [class*="baseStyle--"] {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] [class*="tabWrap--"] [class*="baseStyle--"]:nth-child(4) {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] [class*="tabWrap--"] [class*="actStyle--"] {
  color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="tabWrapAll--"] [class*="tabWrap--"] [class*="dividerLine--"] {
  background-color: transparent;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] {
  background-color: #282828;
  border-radius: 8px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] {
  padding: 0 12px;
  padding-top: 6px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrap--"] [class*="word--"] {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrap--"] [class*="keysWrap--"] [class*="wordText--"] {
  color: #b8b8b8;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrap--"] [class*="keysWrap--"] [class*="wordText--"]:hover {
  color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrap--"] [class*="filterButton--"] {
  background-color: #3c3c3c;
  color: #a8a8a8;
  font-size: 13px;
  padding: 0 10px;
  border-radius: 6px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrap--"] [class*="filterButton--"]:hover {
  background-color: #3c3c3c;
  border-color: transparent;
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [data-spm="filterbar"] [class*="filterContentWrapForFloorThree--"] {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="divisionLine--"] {
  border-bottom-color: transparent;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] {
  padding: 0px 12px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] {
  transform: translateX(0);
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] [class*="innerWrap--"]:first-child {
  opacity: 0;
  pointer-events: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .iconfont-tbpc-search {
  color: #ff5000;
  display: none;
  left: 278px;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab {
  margin-right: 8px !important;
  border-radius: 6px !important;
  background-color: #3c3c3c !important;
  padding: 2px 4px !important;
  border-color: #3c3c3c !important;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab:last-child {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab .next-tabs-tab-inner {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab .next-tabs-tab-inner:hover {
  color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab.active {
  background-color: #ff5000 !important;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="sortBarWrapInner--"] .next-tabs-wrapped > .next-tabs-bar .next-tabs-tab.active .next-tabs-tab-inner {
  color: #fff;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] .next-input {
  background-color: #3c3c3c;
  border-color: rgba(255, 80, 0, 0.05);
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] .next-input input {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] .next-input.next-focus {
  background-color: #282828;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] [class*="gapLine--"] {
  background-color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] [class*="baseStyle--"] {
  background-color: #3c3c3c;
  border-color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] [class*="box--"] {
  background-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"] [class*="box--"] [class*="item--"] {
  background-color: #a1a1a1;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"]:last-child [class*="baseStyle--"] {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"]:last-child [class*="line--"] {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"]:last-child [class*="wrap--"] {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"]:last-child .next-pagination .next-pagination-display {
  color: #c1c1c1;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] [class*="sortBarWrapTop--"] [class*="otherSelector--"]:last-child .next-pagination .next-pagination-item:not([disabled]) i {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] .warp .next-checkbox-wrapper .next-checkbox-inner {
  border-color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] .warp .next-checkbox-label {
  color: #c9c9c9 !important;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="sortBarWrap--"] .warp [class*="triggerKeys--"] {
  display: none;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="content--"] {
  background-color: #282828;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="content--"] [class*="tips--"] {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="content--"] [class*="contentInner--"] {
  background-color: #3c3c3c;
  padding-top: 15px;
  transform: translate3d(0px, 5px, 0px) !important;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="content--"] [class*="contentInner--"] [class*="doubleCardWrapper--"] {
  background-color: #282828;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="content--"] [class*="contentInner--"] [class*="doubleCardWrapper--"] [class*="title--"] {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-btn.disabled.next-btn-normal,
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-btn[disabled].next-btn-normal {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-btn-helper {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-pagination .next-pagination-item:not([disabled]) {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-pagination .next-pagination-item:not([disabled]).next-current {
  background-color: #ff5000 !important;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-pagination-display {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-input {
  background-color: #3c3c3c;
  border-color: rgba(255, 80, 0, 0.05);
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-input input {
  color: #c9c9c9;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-btn.next-btn-normal {
  background-color: #ff5000;
  border-color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent .search-content-leftWrap [class*="leftContent--"] [class*="pgWrap--"] .next-btn.next-btn-normal:hover {
  background-color: #ff5000;
  border-color: #ff5000;
}
#ice-container [class*="pageContent--"] #pageContent [class*="rightWrap--"] {
  display: none;
}
#ice-container [class*="pageContent--"] [class*="bottomWrap--"] {
  background-color: #282828;
}
#ice-container [class*="bottomWrap--"] {
  display: none;
}
.tb-toolkit {
  background-color: #3c3c3c;
}
.tb-toolkit .toolkit-item-back {
  bottom: -60px !important;
}
.tb-toolkit .toolkit-item-back .back-btn i {
  background-image: url(https://img.alicdn.com/imgextra/i3/4240902548/O1CN01xj2YYh1Uh2AJ27arD_!!4240902548-2-tblife2_ugc.png) !important;
  background-size: 22px;
}
.tb-toolkit .toolkit-item-back:before {
  background-color: #3c3c3c;
}
.tb-toolkit [data-name="cart2"] a .toolkit-icon {
  background-image: url(https://img.alicdn.com/imgextra/i1/4240902548/O1CN01gfEsO61Uh2AHBsYyQ_!!4240902548-2-tblife2_ugc.png) !important;
  background-size: 22px;
}
.tb-toolkit [data-name="consumerservice"] a .toolkit-icon {
  background-image: url(https://img.alicdn.com/imgextra/i4/4240902548/O1CN016g7ezx1Uh2AJDEOgA_!!4240902548-2-tblife2_ugc.png) !important;
  background-size: 22px;
}
.tb-toolkit [data-name="feedback"] a .toolkit-icon {
  background-image: url(https://img.alicdn.com/imgextra/i4/4240902548/O1CN013sI2t31Uh2AJDRDsu_!!4240902548-2-tblife2_ugc.png) !important;
  background-size: 22px;
}
.tb-toolkit .tb-toolkit-list .toolkit-item {
  background-color: #3c3c3c;
}
.tb-toolkit .tb-toolkit-list .toolkit-item:first-child {
  display: none;
}
.tb-toolkit .tb-toolkit-list .toolkit-item a {
  color: #c9c9c9;
}
.tb-toolkit .im-entry {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tb-toolkit .im-entry .im-top {
  width: 26px;
  height: 26px;
  background-image: url(https://img.alicdn.com/imgextra/i4/4240902548/O1CN01hzBqgj1Uh2A9fy5lg_!!4240902548-2-tblife2_ugc.png);
  background-size: cover;
  margin-bottom: 2px;
}
.tb-toolkit .im-entry .im-top .im-icon {
  display: none;
}
.tb-toolkit .im-entry .im-top .im-num {
  left: 12px;
}
.tb-toolkit .im-entry .im-bottom {
  color: #c9c9c9;
}
#J_SiteFooter {
  background-color: #21252b;
}
#J_SiteFooter .tb-footer {
  background-color: #3c3c3c;
  margin-top: 0 !important;
  border: none;
}
#J_SiteFooter .tb-footer strong {
  color: #b1b1b1;
}
#J_SiteFooter .tb-footer .tb-footer-bd {
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: #686868;
}
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: #424242;
}
